<div id="<%= dom_id publication %>">
  <p>
    <strong>Name:</strong>
    <%= publication.name %>
  </p>

  <p>
    <strong>Deit:</strong>
    <%= publication.deit %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= publication.comment %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= publication.tag.name %>
  </p>

</div>
